absl-py==2.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
attrs==25.1.0
beautifulsoup4==4.13.3
bitarray==3.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
ckzg==2.0.1
cloudpickle==3.1.1
contourpy==1.3.1
cycler==0.12.1
cytoolz==1.0.1
dotenv==0.9.9
eth-account==0.13.5
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.6.1
eth-rlp==2.2.0
eth-typing==5.2.0
eth-utils==5.2.0
eth_abi==5.2.0
Farama-Notifications==0.0.4
filelock==3.17.0
fonttools==4.56.0
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2025.3.0
grpcio==1.71.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
hexbytes==1.3.0
idna==3.10
Jinja2==3.1.6
kiwisolver==1.4.8
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
multidict==6.1.0
multitasking==0.0.11
networkx==3.4.2
numpy==2.2.3
packaging==24.2
pandas==2.2.3
parsimonious==0.10.0
peewee==3.17.9
pillow==11.1.0
platformdirs==4.3.7
propcache==0.3.0
protobuf==6.30.0
pycryptodome==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
pyunormalize==16.0.0
regex==2024.11.6
requests==2.32.3
rlp==4.1.0
scipy==1.15.3
seaborn==0.13.2
setuptools==76.0.0
Shimmy==1.3.0
six==1.17.0
soupsieve==2.6
stable_baselines3==2.5.0
sympy==1.13.1
ta==0.11.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
toolz==1.0.0
torch==2.6.0
tqdm==4.67.1
types-requests==2.32.0.20250301
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
web3==7.8.0
websockets==13.1
Werkzeug==3.1.3
yarl==1.18.3
yfinance==0.2.55
